html{
    height: 100%;
}
body{
    background-color:--white;
    color: rgb(0, 0, 0);
    height: 100%;
    margin: 10px;
    color:var(--white)
}
:root {
    --gris: rgb(27 26 28);
	--black: #222;
	--main-color: rgb(144, 108, 180);
	--white: #f7f7f7;
	--background: rgba(76, 0, 130, 0.02);
    --foodies: #40ba37;
}
.contenedor{
    height: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    height: 100px;
    border: 1px solid rgb(170, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-nombre{
    border-radius: 5px;
	padding: 5px 10px;
    background-color: #c2e8cd;
	border: 1px solid rgb(255, 255, 255);
	margin: 2px 0 10px;
	height: 40px;
	width: 240px;
    color: --black;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 25px;
    
}

.input-h2{
    color: var(--black);
}

.input-nombre::placeholder {
    color: var(--black);
    
    
  }
.input-ingresar{
    background-color: var(--foodies);
	color: var(--black);
    height: 40px;
    width: 262px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.volver-btn2{
    color: var(--black);
}
    .form-inputs-contentedor{
        height: 100%;
        width: 100%;
        display: flex;
        /* justify-content: center; */
            align-items: center;
        flex-direction: column;
    }
.imput-small{
    color:  var(--black);
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}
footer a{
    color: var(--white);
    font-size: 20px;
}

.a-login{
    margin-right: 10px;

}